// @import "./mixins.scss";

@mixin flex-justify-align-dir($jc, $ai, $dir) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $dir;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.app {
  position: relative;
  text-align: center;
  width: auto;
  height: 100vh;
  background-color: rgba(0, 128, 0, 0.356);
  color: white;
  .search {
    text-align: center;
    padding: 3rem;
    border: none;
    input {
      padding: 0.7rem 1.5rem;
      font-size: 1.2rem;
      // border-radius: 25px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      background: rgba(255, 255, 255, 0.1);
      color: #f8f8f8;
      margin-top: 1rem;
      border: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #f8f8f8;
      }
    }
  }
  section {
    max-width: 700px;
    height: 600px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    // background: rgb(3, 3, 129);
    // top: 10%;
    @include flex-justify-align-dir(space-between, flex-start, column);
    .top {
      width: 100%;
      //   background-color: #f8f8f849;
      margin: 0 auto;
      height: 5rem;
      .location {
        // background-color: #f8f8f849;
        font-size: 2rem;
      }

      .temperature {
        background-color: #f8f8f821;
        width: 12rem;
        height: 12rem;
        margin: 0 auto;
        border-radius: 50%;
        line-height: 3px;
        box-shadow: 0 30px 45px rgba(0, 0, 0, 0.226);
        @include flex-justify-align-dir(center, center, column);
        h3 {
          font-size: 3rem;
        }
      }
      .description {
        position: relative;
        // right: -85%;
        p {
          transform: rotate(0deg);
          margin-bottom: 2rem;
        }
      }
    }
    .main {
      width: 100%;
      height: 5rem;
      // background-color: #f8f8f834;
      margin-top: 15rem;
      p:first-child {
        font-size: 1.5rem;
        margin-top: 0.2rem;
      }
      p:nth-child(2) {
        margin-top: -0.8rem;
      }
    }
    .bottom {
      width: 90%;
      margin: 1rem auto;
      padding: 1rem;
      // background-color: rgba(255, 255, 255, 0.2);
      @include flex-justify-align-dir(space-evenly, flex-start, row);
      .feels,
      .humidity,
      .wind {
        width: 8rem;
        height: 10rem;
        border-radius: 10px;
        background-color: #f8f8f821;
        box-shadow: 0 30px 45px rgba(0, 0, 0, 0.226);
        // line-height: 1px;
        p:first-child {
          font-weight: bold;
        }
      }
      .wi-bottom {
        font-size: 3rem;
        height: 3rem;
        // color: red;
        // background-color: transparent;
        @include flex-justify-align-dir(center, center, column);
      }
    }
  }
}
.app::before {
  content: "";
  background: url(../img/sun-through-clouds.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bold {
  font-weight: bold;
}
